<footer id="footer">
    <div id="footer_contact_details">
        <div class="contact_1">
            F-202,ICVS Hostel,<br>
            IISER Kolkata(Main Campus),<br>
            Mohanpur,Nadia,<br>
            West Bengal,<br>
            India-741246.<br>
            <br>
            <br>
            (Landmark: Gate No. 7)
        </div>
        <div class="contact_2">
            <ul>
            <li>Email: <a href="emailto:sm13ms030@iiserkol.ac.in">sm13ms030@iiserkol.ac.in</a></li>
            <li>twitter: <a href="https://twitter.com/SayantanHimself">&#x40;SayantanHimself</a></li>
            <li>facebook: <a href="https://fb.com/majumdar.sayantan">&#x40;majumdar.sayantan</a></li>
            <li>gitlab: <a href="https://gitlab.com/sayantanmajumdar">&#x40;sayantanmajumdar</a></li>
            </ul>
        </div>
        <div class="contact_3">
            {% include navigation.html which_list="" where_called="footer" %}
        </div>
    </div>
</footer>