<header id="the_big_header" class="header_class">
    <a href="{{site.baseurl}}/"><h1 id="the_big_title">Sayantan Majumdar</h1></a>
    {% include navigation.html which_list="" where_called="header" %}
</header>