<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow" />
    <link href="{{site.baseurl}}/css/main.css" type="text/css" rel="stylesheet" >
    <script type="text/javascript" src="{{site.baseurl}}/javascript/main.js" ></script>
    <title>Sayantan Majumdar</title>
</head>