{% if include.which_list=="" %}
{% assign menu_list=site.html_pages | sort:"order" %}
{% assign nav_special_class="main_navbar" %}
{% else %}
{% assign menu_list=site.data.datalists[include.which_list] %}
{% assign nav_special_class=include.which_list | append: '_navbar' %}
{% endif %}
<nav class="{{nav_special_class}}">
    <ul>
        {% for i in menu_list %}
        <li><a class="{% if page.url == i.url %}nav_a present_a{% else %}nav_a{% endif %}" href="{{site.baseurl}}{{i.url}}">{{i.title}}</a></li>
        {% endfor %}
        {% if include.which_list=="" %}
        <li><a class="nav_a" href="https://majumdarsayantan.wordpress.com/">Blog</a></li>
        {% if include.where_called!="footer" %}
        <li><a class="nav_a" href="#footer">Contact</a></li>
        {% endif %}
        {% endif %}
    </ul>
</nav>