{% for i in site.categories[include.category_name] %}
{% if include.category_name=="research_papers" %}
<li id="li_{{include.category_name}}">
    <div>
        <div>{{i.title}}</div>
        <div>{{i.author}}</div>
        <div>{{i.date_of_publication}}</div>
        <div>{{i.journal}}</div>
        <div>{{i.volume}}</div>
        <div>{{i.year}}</div>
        <div>{{i.pages}}</div>
    </div>
</li>
{% elsif include.category_name=="conference_papers" %}
<li id="li_{{include.category_name}}">
    <div>
        <div>{{i.title}}</div>
        <div>{{i.author}}</div>
        <div>{{i.institution}}</div>
        <div>{{i.date_of_presentation}}</div>
        <div>{{i.number}}</div>
        <div>{{i.type}}</div>   
    </div>
</li>
{% elsif include.category_name=="unpublished_papers" %}
<li id="li_{{include.category_name}}">
    <div>
       <div>{{i.title}}</div>
       <div>{{i.author}}</div>
       <div>{{i.date_of_posting}}</div>
       <div>{{i.description}}</div>   
    </div>
</li>
{% endif %}
{% endfor %}