html, body {
    margin: 0 auto;
    padding: 0;
    //border: 0;
    //width: $max_width;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    //outline: 2px dotted $black;
}