header {
    color: $black;
    background: $white;
    position: fixed;
    top: 0;
    width: $max_width ;
    a {
        &:link {
            text-decoration: none;
        }
        &:hover, &:focus {
            color: $black;
        }
        h1 {
            padding: 120px 120px;
            margin: 0 auto;
            text-align: center;
            font-family: $base_font_stack;
            font-size: 50px;
            color: $grey;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
        }
    }
    ul {
        padding: 0;
        margin: 0 auto;
        text-align: center;
        li {
            display: inline-block;
            padding: 15px 10px;
            margin: 0 auto;
            .nav_a {
                padding: 20px 20px;
                display: block;
                opacity: .6;
                &:link {
                    text-decoration: none;
                    font-family: $base_font_stack;
                    font-size: 20px;
                }
                color: $grey;
                &:hover, &:focus {
                    opacity: 1;
                    border-bottom: 3px solid $grey;
                }
                &.present_a {
                    border-bottom: 3px solid $black;
                    
                }
            }
        }
    }
}
.special_header_class {
    
    h1 {
        padding: 30px 30px;
        font-size: 30px;
        color: $black;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
    }
    
    //background-color: $red;
    //transition-delay: 5s;
}