div {
    padding: 0;
    margin: 0;
    a {
        text-decoration: none;
        color: $grey;
        &:hover, &:focus {
            color: $black;
        }
    }
.contact_1 {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 50px 50px;
    margin: auto 0;
    border: 0;
}
.contact_2 {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 50px 50px;
    margin: auto 0;
    border: 0;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}
.contact_3 {
    float: right;
    width: 33.33%;
    text-align: center;
    padding: 50px 50px;
    margin: auto 0;
    border: 0;
    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}
}