//fonts
$base_font_stack: "Times New Roman",sans-serif,Ariel,Helvetica;
//colors
$red: #ff0000;
$blue: #0000ff;
$green: #00ff00;
$white: #ffffff;
$black: #000000;
$grey: #555555;
//site-colors
$primary_color: $black !default;
//site-dimensions
$max_width: 1000px;