--- 
layout: publications
title: Publications
permalink: /pages/publications/
order: 4
---
<div>
    No articles have been published yet
    <!--
    {% for i in site.data.datalists.list_of_publication_types %}
    {% assign size_of_category = site.categories["{{i.category_name}}"] | size %}
    {% if size_of_category >= 1 %}
    <ol id="{{i.category_name}}">
        <h2>{{i.title}}</h2>
        {% include publication_format.html category_name=i.category_name %}
    </ol>
    {% else %}
    <h2>{{i.title}}</h2>
    <div>No {{i.title}} have been published yet</div>
    {% endif %}
    {% endfor %}
    -->
</div>