<!DOCTYPE HTML>
<html lang="en">
{% include head.html %}

<body>
  <span id="trying"></span>
  <div id="wrapper">
    {% include header.html %} 
    <main id="main_content">
      {{content}}
    </main> 
    {% include footer.html %}
  </div>
</body>

</html>